[Container]
Image=bazarr.image

Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Belgrade

Volume=bazarr-config.volume:/config
Volume=arr-movies.volume:/movies
Volume=arr-tv.volume:/tv

Pod=arr.pod

[Service]
Restart=unless-stopped
