[Container]
Image=sonarr.image

Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Europe/Belgrade

Volume=sonarr-config.volume:/config
Volume=arr-tv.volume:/tv
Volume=arr-downloads.volume:/downloads

Pod=arr.pod

[Service]
Restart=unless-stopped
